/* Reset default browser styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333; /* Black background */
    color: #fff; /* White text */
    line-height: 1.6;
}

header {
    background-color: #1DB954; /* Spotify green */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.left-image,
.right-image {
    flex: 0 0 auto; /* Prevent image blocks from stretching */
}

.left-image img,
.right-image img {
    width: 100px; /* Set image width */
    height: 100px; /* Set image height */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure image covers the circular area */
}



nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000; /* Black text */
    transition: color 0.2s ease-in-out; /* Transition color change on hover */
}

nav ul li a:hover {
    color: #fff; /* Change text color to white on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.section {
    padding: 50px 0;
    transition: background-color 0.2s ease-in-out;
}

.section-heading {
    font-size: 2em;
    color: #fff;
    margin-bottom: 30px;
}

.episode-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.episode-card {
    width: calc(29% - 30px); /* 33.33% width for 3 episodes per row */
    margin: 20px;
    padding: 20px;
    background-color: #1DB954; /* Green background for episode cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.episode-card:hover {
    transform: translateY(-8px); /* Lift the card up slightly on hover */
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.629);
}

.episode-card h3,
.episode-card p {
    color: #fff; /* White text */
}

@media (max-width: 992px) {
    .episode-card {
        width: calc(50% - 40px); /* 50% width for 2 episodes per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .episode-card {
        width: 100%; /* Full width for 1 episode per row on smaller screens */
    }
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 20px;
}

.social-links a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.social-links a img:hover {
    transform: scale(1.2); /* Scale up icon on hover */
}